<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="AccesoDatos.Contratos.Contexto, AccesoDatos" mapTo="AccesoDatos.SQLServer.ContextoSQLServer, AccesoDatos" />
    <register type="AccesoDatos.Contratos.IAccesoDatosProducto, AccesoDatos" mapTo="AccesoDatos.AccesoDatosProducto, AccesoDatos" />
  </container>
</unity>